CrossPlatform/Flutter/sample/.flutter-plugins-dependencies
CrossPlatform/Flutter/sample/ios/Flutter/.last_build_id
CrossPlatform/ReactNative/SampleApp/example/android/.idea/libraries
CrossPlatform/ReactNative/SampleApp/example/android/.idea
CrossPlatform/ReactNative/SampleApp/example/android/.gradle/6.7
CrossPlatform/ReactNative/SampleApp/example/android/.gradle/6.7.1
CrossPlatform/ReactNative/SampleApp/example/android/.gradle
CrossPlatform/ReactNative/SampleApp/example/ios/.idea
CrossPlatform/ReactNative/SampleApp/example/android/app/build
CrossPlatform/ReactNative/SampleApp/example/node_modules
CrossPlatform/ReactNative/SampleApp/node_modules
CrossPlatform/ReactNative/SampleApp/example/android/build/
CrossPlatform/ReactNative/SampleApp/example/ios/Pods
CrossPlatform/ReactNative/SampleApp/example/android/.gradle
CrossPlatform/ReactNative/SampleApp/example/android/.idea
CrossPlatform/ReactNative/SampleApp/packages/commons/android/build
CrossPlatform/ReactNative/SampleApp/packages/core/android/build
CrossPlatform/ReactNative/SampleApp/packages/gfit/android/build
CrossPlatform/ReactNative/SampleApp/packages/recognition/android/build
CrossPlatform/ReactNative/SampleApp/packages/shealth/android/build
CrossPlatform/ReactNative/SampleApp/node_modules
CrossPlatform/ReactNative/SampleApp/packages/apple_health/node_modules
CrossPlatform/ReactNative/SampleApp/packages/cardio/node_modules
CrossPlatform/ReactNative/SampleApp/packages/commons/node_modules
CrossPlatform/ReactNative/SampleApp/packages/core/node_modules
CrossPlatform/ReactNative/SampleApp/packages/gfit/node_modules
CrossPlatform/ReactNative/SampleApp/packages/recognition/node_modules
CrossPlatform/ReactNative/SampleApp/packages/shealth/node_modules
CrossPlatform/ReactNative/SampleApp/example/node_modules
CrossPlatform/ReactNative/SampleApp/example/ios/Pods
.DS_Store